/* CarList.module.css */
.elementContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.carCard {
  width: 274px;
  padding-bottom: 50px;
}

.imgContainer {
  position: relative;
}

.carImg {
  border-radius: 14px;
  height: 268px;
  object-fit: cover;
}

.iconButton {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 0;
}

.icon {
  width: 18px;
  height: 18px;
  fill: none;
  stroke: #fff;
}

.iconActive {
  width: 18px;
  height: 18px;
  stroke: rgba(52, 112, 255, 1);
  fill: rgba(52, 112, 255, 1);
}

.paragraphContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
}

.carParagraph {
  color: #121417;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.carModel {
  color: #3470ff;
}

.listContainer {
  height: 40px;
  overflow: hidden;
  padding-top: 8px;
}

.carList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  color: rgba(18, 20, 23, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  gap: 7px;
}

.stick {
  margin-left: 6px;
  border-right: 1px solid rgb(18, 20, 23, 0.5);
}

.buttonContainer {
  padding-top: 28px;
}

.searchContainer {
  display: flex;
  padding-bottom: 50px;
  gap: 18px;
}

.searchButton {
  width: 136px;
  height: 48px;
  padding: 14px 44px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: none;
  border-radius: 12px;
  background: #3470ff;
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.searchButton:active,
.searchButton:hover {
  background-color: #0b44cd;
}

.searchButton:focus {
  outline: none;
}

.carButton {
  width: 100%;
  height: 44px;
  padding: 12px 99px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: none;
  border-radius: 12px;
  background: #3470ff;
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.carButton:active,
.carButton:hover {
  background-color: #0b44cd;
}

.carButton:focus {
  outline: none;
}

.loadButton {
  max-width: 100px;
  color: #3470ff;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration-line: underline;
  background: transparent;
  border: none;
}
